ol, ul {
  padding-left: 30px;
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}

.status{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.inputSection{
  margin-top: 15px;
}
nav{
  height: 10vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul{
  list-style: none;
}
.nav-link{
  color: white;
  font-size: 20px;
  margin: 1rem;
  text-decoration: none;
}
.nav-link:hover{
  color: orange;
}
nav .active{
  color: yellow;
}